@using Microsoft.AspNetCore.Authorization
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService AuthorizationService
@using EmployeeProject.Application.DTOs.Account

@model ChangePasswordDTO

@{
    Layout = "_AdminLayout";

    var newUser = TempData["NewUser"] as String;

    var changePass = TempData["ChangePass"] as String;

    var login = TempData["Login"] as String;

    var profileUpdate = TempData["ProfileUpdated"] as String;

    var addProject = TempData["AddProject"] as String;

    var updateProject = TempData["UpdateProject"] as String;


    var addActivity = TempData["AddActivity"] as String;

    var updateActivity = TempData["UpdateActivity"] as String;

}

@if (!string.IsNullOrEmpty(changePass) || !string.IsNullOrEmpty(login) || !string.IsNullOrEmpty(profileUpdate) || !string.IsNullOrEmpty(addProject) || !string.IsNullOrEmpty(updateProject) || !string.IsNullOrEmpty(addActivity) || !string.IsNullOrEmpty(updateActivity))
{
    <div class="alert alert-success d-flex justify-content-between align-items-center">
        @if (!string.IsNullOrEmpty(changePass))
        {
            <strong>@changePass</strong>
        }

        @if (!string.IsNullOrEmpty(login))
        {
            <strong>@login</strong>
        }
        @if (!string.IsNullOrEmpty(profileUpdate))
        {
            <strong>@profileUpdate</strong>
        }
        @if (!string.IsNullOrEmpty(addProject))
        {
            <strong>@addProject</strong>
        }
        @if (!string.IsNullOrEmpty(updateProject))
        {
            <strong>@updateProject</strong>
        }
        @if (!string.IsNullOrEmpty(addActivity))
        {
            <strong>@addActivity</strong>
        }
        @if (!string.IsNullOrEmpty(updateActivity))
        {
            <strong>@updateActivity</strong>
        }
        <button type="button" class="close btn btn-outline-success" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="modal fade addDataModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" id="projectManagerProjectsBtn" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">

        <div class="modal-content " style="width:800px; height:520px;  font-family: 'Montserrat', sans-serif; border-radius:1.5rem;">

            <div class="modal-header" style="height:60px; background:#1E4F3B; display:flex; border-radius:1rem 1rem 0 0 ;">

                <div class="modal-headerDiv1" style="width:95%; display:flex;justify-content:center;align-items:center;">
                    <h4 style="color:gold;">P R O J E C T S</h4>
                </div>
                <div class="modal-headerDiv2">
                    <i class="fa fa-times closeAddNewData" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close"></i>
                </div>

            </div>
            <div class="modal-body projectsModal justify-content-center align-items-center">


                <div class="projectsModalDiv2" style="border-radius:0.1rem; height:400px;">
                    <table class="projectsModalDiv2Table">
                        <thead class="activitiesModalDiv2TableHead">
                            <tr>
                                <th>P R O J E C T &nbsp N A M E</th>
                                <th>S T A T U S</th>
                            </tr>
                        </thead>
                        <tbody class="projectManagerProjectsTableBody text-center">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="dashboardBody">

    @if (User.IsInRole("Project_Manager"))
     {
        <div class="dashboardBodyDiv1">

            <div class="dashboardBodyDiv1Inner1">

        @*         <button class="addData " style="height:50px;" id="projectmanagerBtn">
                    <a asp-action="Projects" asp-controller="Admin" style="text-decoration:none; color:inherit; padding:.8rem;">
                        P R O J E C T S
                    </a>         
                </button> *@

                <select class="section" id="dashboardSectionDropDown">
                    <option>SECTION</option>
                </select>

                <input type="text" list="names" class="dashboardSearch" id="dashboardSearch" style="box-shadow:none;" placeholder="Search..." autocomplete="off" />

                <div class="autoFillSearchUsersDashboardBody">

                    <div class="autoFillSearchUsersDashboard">


                    </div>
                </div>


                <div class="dashboardSearchBtn"><i class="fa fa-search" aria-hidden="true"></i></div>

                <div class="dashboardBodyDiv1Inner1Div1">

                    <div class="dashboardBodyDiv1Inner1Div1Div1">

                        <div class="dashboardBodyDiv1Inner1Div1Div1Inner1">
                            <span class="low">LOW</span>
                            <span class="med">MED</span>
                            <span class="max">MAX</span>
                            <span class="above">ABOVE MAX</span>
                        </div>

                        <div class="dashboardBodyDiv1Inner1Div1Div1Inner2">
                            <span class="low" style="background-color:white; color:black;" id="legendLow"></span>
                            <span class="med" style="background-color:white; color:black;" id="legendMed"></span>
                            <span class="max" style="background-color:white; color:black;" id="legendMax"></span>
                            <span class="above" style="background-color:white; color:black;"></span>
                        </div>

                    </div>

                    <div class="dashboardBodyDiv1Inner1Div1Div2">
                        <h4 style="color:#425833;">LEGEND</h4>
                    </div>

                </div>
            </div>
            <div class="dashboardBodyDiv1Inner2">
                <h4 style="color:#425833;">SELECT YEAR</h4>

                <select class="year" id="dashboardYear">
                </select>
            </div>
        </div>
     }
    else
    {
        <div class="dashboardBodyDiv1">

            <div class="dashboardBodyDiv1Inner1">

                @if (User.IsInRole("Project_Manager") || User.IsInRole("Admin"))
                {
                    <select class="section" id="dashboardSectionDropDown">
                        <option>SECTION</option>
                    </select>
                }
                else
                {
                    <select class="section" id="dashboardSectionDropDown" style="background-color: transparent; box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25); color:transparent;" disabled>
                        <option>SECTION</option>
                    </select>
                }


                <input type="text" list="names" class="dashboardSearch" id="dashboardSearch" style="box-shadow:none;" placeholder="Search..." autocomplete="off" />

                <div class="autoFillSearchUsersDashboardBody">

                    <div class="autoFillSearchUsersDashboard">
                        <div class="searchResultDashboard" data-name="Reymond Calma">Reymond Calma</div>
                        <div class="searchResultDashboard" data-name="Reymond Calma">Reymond Calma</div>
                        <div class="searchResultDashboard" data-name="Reymond Calma">Reymond Calma</div>
                        <div class="searchResultDashboard" data-name="Reymond Calma">Reymond Calma</div>
                        <div class="searchResultDashboard" data-name="Reymond Calma">Reymond Calma</div>
                        <div class="searchResultDashboard" data-name="Reymond Calma">Reymond Calma</div>
                        <div class="searchResultDashboard" data-name="Reymond Calma">Reymond Calma</div>

                    </div>
                </div>


                <div class="dashboardSearchBtn"><i class="fa fa-search" aria-hidden="true"></i></div>

                <div class="dashboardBodyDiv1Inner1Div1">

                    <div class="dashboardBodyDiv1Inner1Div1Div1">

                        <div class="dashboardBodyDiv1Inner1Div1Div1Inner1">
                            <span class="low">LOW</span>
                            <span class="med">MED</span>
                            <span class="max">MAX</span>
                            <span class="above">ABOVE MAX</span>
                        </div>

                        <div class="dashboardBodyDiv1Inner1Div1Div1Inner2">
                            <span class="low" style="background-color:white; color:black;" id="legendLow"></span>
                            <span class="med" style="background-color:white; color:black;" id="legendMed"></span>
                            <span class="max" style="background-color:white; color:black;" id="legendMax"></span>
                            <span class="above" style="background-color:white; color:black;"></span>
                        </div>

                    </div>

                    <div class="dashboardBodyDiv1Inner1Div1Div2">
                        <h4 style="color:#425833;">LEGEND</h4>


                    </div>

                </div>
            </div>
            <div class="dashboardBodyDiv1Inner2">
                <h4>SELECT YEAR</h4>
                <select class="year" id="dashboardYear">
                </select>
            </div>
        </div>
    }


    <div class="dashboardBodyDiv2">
        <div class="dashboardBodyDiv2Inner">

            <table class="dashbBoardTable">

                <thead class="theadDashboard">

                    <tr class="trDashboard"> 
                        <th class="thDashboard">SECTION</th>
                        <th class="thDashboard">RESOURCE NAME</th>
                        <th class="thDashboard">JAN</th>
                        <th class="thDashboard">FEB</th>
                        <th class="thDashboard">MAR</th>
                        <th class="thDashboard">APR</th>
                        <th class="thDashboard">MAY</th>
                        <th class="thDashboard">JUN</th>
                        <th class="thDashboard">JUL</th>
                        <th class="thDashboard">AUG</th>
                        <th class="thDashboard">SEP</th>
                        <th class="thDashboard">OCT</th>
                        <th class="thDashboard">NOV</th>
                        <th class="thDashboard">DEC</th>
                        <th class="thDashboard">TOTAL</th>
                    </tr>
                </thead>
                <tbody class="tbodyDashboard">
                    @*SIGNALR*@
                </tbody>
            </table>
        </div>
    </div>
</div>






@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>

    <script>
        const startYear = 2024;
        const endYear = 2044;

        const yearSelect = document.querySelector('.year');

        for (let i = startYear; i <= endYear; i++) {
            const option = document.createElement('option');
            option.value = i;
            option.text = i;
            yearSelect.add(option);
        }

    </script>
}




