@using Microsoft.AspNetCore.Authorization
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService AuthorizationService
@using EmployeeProject.Application.DTOs.Account

@model ChangePasswordDTO

@{
    Layout = "_AdminLayout";

    var newUser = TempData["NewUser"] as String;

    var changePass = TempData["ChangePass"] as String;

    var login = TempData["Login"] as String;

    var profileUpdate = TempData["ProfileUpdated"] as String;

}

@if (!string.IsNullOrEmpty(changePass) || !string.IsNullOrEmpty(login) || !string.IsNullOrEmpty(profileUpdate))
{
    <div class="alert alert-success d-flex justify-content-between align-items-center">
        @if (!string.IsNullOrEmpty(changePass))
        {
            <strong>@changePass</strong>
        }

        @if (!string.IsNullOrEmpty(login))
        {
            <strong>@login</strong>
        }
        @if (!string.IsNullOrEmpty(profileUpdate))
        {
            <strong>@profileUpdate</strong>
        }
        <button type="button" class="close btn btn-outline-success" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="dashboardBody">
    <div class="dashboardBodyDiv1">

        <div class="dashboardBodyDiv1Inner1">

            @if (User.IsInRole("Project_Manager"))
            {
                <select class="section" id="dashboardSectionDropDown" >
                    <option>SECTION</option>
                </select>
            }
            else
            {
                <select class="section" id="dashboardSectionDropDown" style="background-color: transparent; box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25); color:transparent;" disabled>
                    <option>SECTION</option>
                </select>
            }


            <input type="text" list="names" class="dashboardSearch" id="dashboardSearch" style="box-shadow:none;" placeholder="Search..." autocomplete="off"/>
           
            <div class="autoFillSearchUsersDashboardBody">

                <div class="autoFillSearchUsersDashboard">
                    <div class="searchResultDashboard" data-name="Reymond Calma">Reymond Calma</div>
                    <div class="searchResultDashboard" data-name="Reymond Calma">Reymond Calma</div>
                    <div class="searchResultDashboard" data-name="Reymond Calma">Reymond Calma</div>
                    <div class="searchResultDashboard" data-name="Reymond Calma">Reymond Calma</div>
                    <div class="searchResultDashboard" data-name="Reymond Calma">Reymond Calma</div>
                    <div class="searchResultDashboard" data-name="Reymond Calma">Reymond Calma</div>
                    <div class="searchResultDashboard" data-name="Reymond Calma">Reymond Calma</div>

                </div>
            </div>


            <div class="dashboardSearchBtn"><i class="fa fa-search" aria-hidden="true"></i></div>

            <div class="dashboardBodyDiv1Inner1Div1">

                <div class="dashboardBodyDiv1Inner1Div1Div1">

                    <div class="dashboardBodyDiv1Inner1Div1Div1Inner1">
                        <span class="low">LOW</span>
                        <span class="med">MED</span>
                        <span class="max">MAX</span>
                        <span class="above">ABOVE MAX</span>
                    </div>

                    <div class="dashboardBodyDiv1Inner1Div1Div1Inner2">
                        <span class="low" style="background-color:white; color:black;" id="legendLow"></span>
                        <span class="med" style="background-color:white; color:black;" id="legendMed"></span>
                        <span class="max" style="background-color:white; color:black;" id="legendMax"></span>
                        <span class="above" style="background-color:white; color:black;"></span>
                    </div>

                </div>
                  
                <div class="dashboardBodyDiv1Inner1Div1Div2">
                    <h4 style="color:#425833;">LEGEND</h4>


                </div>

            </div>
        </div>
        <div class="dashboardBodyDiv1Inner2">
            <h4>SELECT YEAR</h4>
            <select class="year" id="dashboardYear">
            </select>
        </div>
    </div>
    <div class="dashboardBodyDiv2">
        <div class="dashboardBodyDiv2Inner">

            <table class="dashbBoardTable">

                <thead class="theadDashboard">

                    <tr class="trDashboard"> 
                        <th class="thDashboard">SECTION</th>
                        <th class="thDashboard">RESOURCE NAME</th>
                        <th class="thDashboard">JAN</th>
                        <th class="thDashboard">FEB</th>
                        <th class="thDashboard">MAR</th>
                        <th class="thDashboard">APR</th>
                        <th class="thDashboard">MAY</th>
                        <th class="thDashboard">JUN</th>
                        <th class="thDashboard">JUL</th>
                        <th class="thDashboard">AUG</th>
                        <th class="thDashboard">SEP</th>
                        <th class="thDashboard">OCT</th>
                        <th class="thDashboard">NOV</th>
                        <th class="thDashboard">DEC</th>
                        <th class="thDashboard">TOTAL</th>
                    </tr>
                </thead>
                <tbody class="tbodyDashboard">
                    @*SIGNALR*@
                </tbody>
            </table>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(newUser))
{
<script>
        window.addEventListener('DOMContentLoaded', function () {
            var changePassModal = document.getElementById('changePass');
            changePassModal.classList.add('show');
            changePassModal.style.display = 'block';

            var closeButton = document.querySelector('#changePass .closeAddNewData');
            closeButton.addEventListener('click', function () {
                changePassModal.classList.remove('show');
                changePassModal.style.display = 'none';
            });
        });
</script>

<form asp-controller="Home" asp-action="ChangePassword" method="post">
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" id="changePass" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="height:50vh;">

            <div class="modal-content" style="height: 450px; border-radius:1rem;font-family: 'Montserrat', sans-serif;">

            <div class="modal-header" style="height:60px; background:#425833; display:flex; border-radius:1rem 1rem 0 0 ; justify-content:center; align-items:center; color:white; ">

                        <h4>Change Your Password</h4>

                </div>
                <div class="modal-body " style="border-radius:0 0 1rem 1rem; display:flex; flex-direction:column; align-items:center; ">
                     <div asp-validation-summary="ModelOnly" style="color:red;"></div>
                      <br />
                    <input type="text" class="form-control addNewDataInput" placeholder="Current Password:"  style="width:80%;" asp-for="@Model.CurrentPassword" autocomplete="off" value="12345678"/>
                        <span asp-validation-for="@Model.CurrentPassword" class="text-danger"></span>
                    <br />
                    <input type="text" class="form-control addNewDataInput" placeholder="New Password:" style="width:80%;" asp-for="@Model.NewPassword" autocomplete="off" />
                        <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                    <br />
                    <input type="text" class="form-control addNewDataInput" placeholder="Confirm New Password:" style="width:80%;" asp-for="@Model.ConfirmNewPassword" autocomplete="off"/>
                        <span asp-validation-for="@Model.ConfirmNewPassword" class="text-danger"></span>
                <button type="submit" class="addNewUserBtn" id="saveChangePass" style="margin-top:20%;"><i class="fa fa-check" aria-hidden="true"></i>Save</button>

                </div>
            </div>

        </div>
    </div>
</form>
}
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>

    <script>
        const startYear = 2024;
        const endYear = 2044;

        const yearSelect = document.querySelector('.year');

        for (let i = startYear; i <= endYear; i++) {
            const option = document.createElement('option');
            option.value = i;
            option.text = i;
            yearSelect.add(option);
        }

    </script>
}




