@using Microsoft.AspNetCore.Authorization
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService AuthorizationService

@using EmployeeProject.Core.Entities.User
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;
@inject SignInManager<AppUser> signManager;
@inject UserManager<AppUser> userManager;
@{
    var user = await userManager.GetUserAsync(User);

    var currentUser = await userManager.Users
    .Include(u => u.Section)
    .FirstOrDefaultAsync(u => u.Id == user.Id);
}

<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/home/admin.css" />
    <link rel="stylesheet" href="~/css/home/dashboard.css" />
    <link rel="stylesheet" href="~/css/home/dataSheet.css" />
    <link rel="stylesheet" href="~/css/home/holidays.css" />
    <link rel="stylesheet" href="~/css/home/users.css" />
    <link rel="stylesheet" href="~/css/home/Sections.css" />
    <link rel="stylesheet" href=" https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css" />

   <style>

   </style>
</head>
<body>
    <div class="sidebar-expanded">
        <div class="div1">
            <div class="div12">
                @if (currentUser.profileString != null)
                {
                    <img src="~/profile/@currentUser.profileString" class="profilePic" />
                }
                else
                {
                    <img src="~/profile/default.jpg" class="profilePic" />
                }

                <h5 class="name" data-bs-toggle="modal" data-bs-target="#profileModal">@currentUser.FullName</h5>
           
            </div>
            <div class="div13">
                <div class="div21">
                    <a class="btn btn-outline-success wad @(ViewContext.RouteData.Values["controller"]?.ToString() == "Admin" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")"  onclick="changeColor(this)" asp-action="Index" asp-controller="Admin"><i class="fa fa-th-large" aria-hidden="true"></i><span>Dashboard</span></a>
                    <a class="btn btn-outline-success wad @(ViewContext.RouteData.Values["controller"]?.ToString() == "Admin" && ViewContext.RouteData.Values["action"]?.ToString() == "DataSheet" ? "active" : "")" onclick="changeColor(this)" asp-action="DataSheet" asp-controller="Admin"><i class="fa fa-file-text" aria-hidden="true"></i><span>Data Sheets</span></a>
                    @if(User.IsInRole("Manager")){
                    <a class="btn btn-outline-success wad" data-bs-toggle="modal" data-bs-target="#projectsModal"><i class="fa fa-folder-open"></i><span>Projects</span></a>
                    }
                    @if(User.IsInRole("Admin")){
                        <a class="btn btn-outline-success wad" data-bs-toggle="modal" data-bs-target="#activitiesModal"><i class="fa fa-check-square"></i><span>Activities</span></a>
                        <a class="btn btn-outline-success sidebarSections wad @(ViewContext.RouteData.Values["controller"]?.ToString() == "Admin" && ViewContext.RouteData.Values["action"]?.ToString() == "Sections" ? "active" : "")" onclick="changeColor(this)" asp-action="Sections" asp-controller="Admin"><i class="fa fa-sitemap sidebarSiteMap" aria-hidden="true"></i><span>Sections</span></a>

                    }
                    <a class="btn btn-outline-success wad @(ViewContext.RouteData.Values["controller"]?.ToString() == "Admin" && ViewContext.RouteData.Values["action"]?.ToString() == "Holidays" ? "active" : "")" onclick="changeColor(this)" asp-action="Holidays" asp-controller="Admin"><i class="fa-solid fa-umbrella-beach"></i><span>Holidays</span></a>
                    @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                    {
                    <a class="btn btn-outline-success wad @(ViewContext.RouteData.Values["controller"]?.ToString() == "Admin" && ViewContext.RouteData.Values["action"]?.ToString() == "Users" ? "active" : "")" onclick="changeColor(this)" asp-action="Users" asp-controller="Admin"><i class="fa fa-users" aria-hidden="true"></i><span>Users</span></a>
                    }
                    <partial name="partial"/>
                </div>
                <div class="div22">
                    <a class="btn btn-outline-success wad" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"><i class="fa fa-sign-out" aria-hidden="true"></i><span>Logout</span></a>
                    
                </div>
            </div>
        </div>
        <div class="div2">
            <div class="nav">
                <i class="fa fa-bars" aria-hidden="true" id="btn"></i>
                <img src="~/images/newLogoPrince.png" />
            </div>
            @RenderBody()
        </div>
    
    </div>


                   @*ACTIVITIES*@

    <div class="modal fade addDataModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" id="activitiesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">

            <div class="modal-content " style="width:800px; height:520px;  font-family: 'Montserrat', sans-serif; border-radius:1.5rem;">

                <div class="modal-header" style="height:60px; background:#1E4F3B; display:flex; border-radius:1rem 1rem 0 0 ;">

                    <div class="modal-headerDiv1" style="width:95%; display:flex;justify-content:center;align-items:center;">
                        <h4 style="color:gold;">ACTIVITIES</h4>
                    </div>
                    <div class="modal-headerDiv2">
                        <i class="fa fa-times closeAddNewData" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close"></i>
                    </div>

                </div>
                <div class="modal-body projectsModal">

                    <div class="projectsModalDiv1">

                        <div class="projectsModalDiv1Inner1">
                                <button class="addData " data-bs-toggle="modal" data-bs-target="#addActivity1" style="height:50px;">
                                <i class="fa fa-plus addDataIcon" aria-hidden="true"></i>A C T I V I T Y
                            </button>
                        </div>

                        <div class="projectsModalDiv1Inner2">
                        </div>

                    </div>
                    <div class="projectsModalDiv2">
                        <table class="projectsModalDiv2Table">
                            <thead class="activitiesModalDiv2TableHead">
                                <tr>
                                    <th>ACTIVITY NAME</th>
                                    <th>STATUS</th>
                                    <th>ACTIONS</th>
                                </tr>
                            </thead>
                            <tbody class="activitiesModalDiv2TableBody">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>





    @*UPDATE ACTIVITY*@
    <form asp-action="UpdateActivity" asp-controller="Admin">
        <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" id="updateProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="height:50vh;">

                <div class="modal-content" style="height: 340px; border-radius:.5rem;">

                    <div class="modal-header" style="height:50px; background:#1E4F3B; display:flex; border-radius:.5rem .5rem 0 0 ;">

                        <div class="modal-headerDiv1" style="width:95%; display:flex;justify-content:center;align-items:center;">
                            <h4 style="color:gold;">UPDATE ACTIVITY</h4>
                        </div>
                        <div class="modal-headerDiv2">
                            <i class="fa fa-times closeAddNewData" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close"></i>
                        </div>

                    </div>
                    <div class="modal-body addSectionBody" style="border-radius:0 0 .5rem .5rem; display:flex;flex-direction:column; ">



                        <div class="addSectionBodyDiv2">
                            <input type="hidden" name="id" id="activityId" />
                            <input type="text" style="text-align:center;" class="form-control-lg addNewUserInput updateProject" placeholder="Project Name:" autocomplete="off" name="activityName" id="updateActivityName" />


                        </div>
                        <div class="addSectionBodyDiv2">

                            <select class="form-control-lg addNewUserInput updateProject" autocomplete="off" name="status" id="updateActivityStatus" style="text-align:center;">
                                <option selected disabled>SELECT STATUS</option>
                                <option value="ACTIVE"> ACTIVE</option>
                                <option value="INACTIVE"> INACTIVE</option>
                                <option value="COMPLETE"> COMPLETE</option>
                            </select>


                        </div>

                        <div class="" style="height:10%;width:100%; text-align:center;">
                        </div>

                        <div class="addSectionBodyDiv3">

                            <button type="submit" class="addWorkingHoursPerDay" style="border:none;" id="updateProjectBtn"><span style="font-size:20px">UPDATE</span></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>















                @*PROJECTS*@
    <div class="modal fade addDataModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" id="projectsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">

            <div class="modal-content " style="width:800px; height:520px;  font-family: 'Montserrat', sans-serif; border-radius:1.5rem;">

                <div class="modal-header" style="height:60px; background:#1E4F3B; display:flex; border-radius:1rem 1rem 0 0 ;">

                    <div class="modal-headerDiv1" style="width:95%; display:flex;justify-content:center;align-items:center;">
                        <h4 style="color:gold;">P R O J E C T S</h4>
                    </div>
                    <div class="modal-headerDiv2">
                        <i class="fa fa-times closeAddNewData" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close"></i>
                    </div>

                </div>
                <div class="modal-body projectsModal">

                    <div class="projectsModalDiv1">

                        <div class="projectsModalDiv1Inner1">
                            <button class="addData " data-bs-toggle="modal" data-bs-target="#addProject1" style="height:50px;">
                                <i class="fa fa-plus addDataIcon" aria-hidden="true"></i>P R O J E C T
                            </button>
                        </div>

                        <div class="projectsModalDiv1Inner2">
     
                        </div>

                    </div>
                    <div class="projectsModalDiv2">
                        <table class="projectsModalDiv2Table">
                            <thead class="projectsModalDiv2TableHead">
                                <tr>
                                    <th>PROJECT NAME</th>
                                    <th>STATUS</th>
                                    <th>ACTIONS</th>
                                </tr>
                            </thead>
                            <tbody class="projectsModalDiv2TableBody">
   

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*UPDATE PROJECT*@
    <form asp-action="UpdateProject" asp-controller="Admin">
        <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" id="updateProject1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="height:50vh;">

                <div class="modal-content" style="height: 340px; border-radius:.5rem;">

                    <div class="modal-header" style="height:50px; background:#1E4F3B; display:flex; border-radius:.5rem .5rem 0 0 ;">

                        <div class="modal-headerDiv1" style="width:95%; display:flex;justify-content:center;align-items:center;">
                            <h4 style="color:gold;">UPDATE PROJECT</h4>
                        </div>
                        <div class="modal-headerDiv2">
                            <i class="fa fa-times closeAddNewData" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close"></i>
                        </div>

                    </div>
                    <div class="modal-body addSectionBody" style="border-radius:0 0 .5rem .5rem; display:flex;flex-direction:column; ">



                        <div class="addSectionBodyDiv2">
                            <input type="hidden" name="id" id="projectId"/>
                            <input type="text" style="text-align:center;" class="form-control-lg addNewUserInput updateProject" placeholder="Project Name:" autocomplete="off" name="projectName" id="updateProjectName" />


                        </div>
                        <div class="addSectionBodyDiv2">

                            <select class="form-control-lg addNewUserInput updateProject" autocomplete="off" name="status" id="updateProjectStatus" style="text-align:center;">
                                <option selected disabled>SELECT STATUS</option>
                                <option value="ACTIVE"> ACTIVE</option>
                                <option value="INACTIVE"> INACTIVE</option>
                                <option value="COMPLETE"> COMPLETE</option>
                            </select>


                        </div>

                        <div class="" style="height:10%;width:100%; text-align:center;">
                        </div>

                        <div class="addSectionBodyDiv3">

                            <button type="submit" class="addWorkingHoursPerDay" style="border:none;" id="updateProjectBtn"><span style="font-size:20px">UPDATE</span></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>



    @*ADD PROJECT*@
    <form asp-action="AddProjects" asp-controller="Admin">
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" id="addProject1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="height:50vh;">

            <div class="modal-content" style="height: 340px; border-radius:.5rem;">

                <div class="modal-header" style="height:50px; background:#1E4F3B; display:flex; border-radius:.5rem .5rem 0 0 ;">

                    <div class="modal-headerDiv1" style="width:95%; display:flex;justify-content:center;align-items:center;">
                        <h4 style="color:gold;">ADD PROJECT</h4>
                    </div>
                    <div class="modal-headerDiv2">
                        <i class="fa fa-times closeAddNewData" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close"></i>
                    </div>

                </div>
                <div class="modal-body addSectionBody" style="border-radius:0 0 .5rem .5rem; display:flex;flex-direction:column;">



                    <div class="addSectionBodyDiv2">

                        <input type="text" class="form-control-lg addNewUserInput addProject" placeholder="Project Name:" autocomplete="off" name="projectName" id="addProject"/>


                    </div>

                    <div class="" style="height:10%;width:100%; text-align:center;">
                        
                    </div>

                    <div class="addSectionBodyDiv3">

                        <button type="submit" class="addWorkingHoursPerDay" style="border:none;" disabled id="addProjectBtn"><span style="font-size:20px">ADD</span></button>
                    </div> 

                </div>
            </div>
        </div>
    </div>
</form>


    @*ADD ACTIVITY*@
    <form asp-action="AddActivity" asp-controller="Admin">
        <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" id="addActivity1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="height:50vh;">

                <div class="modal-content" style="height: 340px; border-radius:.5rem;">

                    <div class="modal-header" style="height:50px; background:#1E4F3B; display:flex; border-radius:.5rem .5rem 0 0 ;">

                        <div class="modal-headerDiv1" style="width:95%; display:flex;justify-content:center;align-items:center;">
                            <h4 style="color:gold;">ADD ACTIVITY</h4>
                        </div>
                        <div class="modal-headerDiv2">
                            <i class="fa fa-times closeAddNewData" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close"></i>
                        </div>

                    </div>
                    <div class="modal-body addSectionBody" style="border-radius:0 0 .5rem .5rem; display:flex;flex-direction:column;">



                        <div class="addSectionBodyDiv2">

                            <input type="text" class="form-control-lg addNewUserInput addActivity" placeholder="ACTIVITY Name:" autocomplete="off" name="activityName" id="addActivity" />


                        </div>

                        <div class="" style="height:10%;width:100%; text-align:center;">
                        </div>

                        <div class="addSectionBodyDiv3">

                            <button type="submit" class="addWorkingHoursPerDay addActivityBtn" style="border:none;" disabled id="addActivityBtn"><span style="font-size:20px">ADD</span></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>








                                @*PROFILE MODAL*@
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="height:50vh;">

            <div class="modal-content" style="height: 450px;">

                <div class="modal-header profileHeader">
                    <div class="profileHeaderDiv1">
                        <i class="fa fa-times closeProfileModal" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close"></i>
                    </div>

                    <div class="profileHeaderDiv2">

                        @if(currentUser.profileString != null){
                            <img src="~/profile/@currentUser.profileString" class="userProfilePic" />
                        }
                        else
                        {
                            <img src="~/profile/default.jpg" class="userProfilePic" />
                        }
               
                    </div>

                </div>

                <div class="modal-body profileModalBody">

                    <div class="profileModalBodyDiv1">
                        <h4 style="text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);">@currentUser.FullName</h4>
                        <h5 style="font-weight:500;">

                            @if (currentUser.position != null)
                            {
                                @currentUser.position
                            }
                            else
                            {
                                <span>No Position Yet</span>
                            }

                        </h5>
                    </div>
                    <div class="profileModalBodyDiv2">

                        <div class="profileModalBodyDiv2Inner1">

                            <div class="profileModalBodyDiv2Inner1Div1">
                                <i class="fa fa-envelope emailProfile" aria-hidden="true"></i>
                            </div>

                            <div class="profileModalBodyDiv2Inner1Div2">

                                <span style="margin-right:15%;">
                                    @if (currentUser.Email != null)
                                    {
                                        @currentUser.Email
                                    }
                                    else
                                    {
                                        <span>No Email Yet</span>
                                    }
                                </span>

                            </div>

                        </div>



                        <div class="profileModalBodyDiv2Inner2">

                            <div class="profileModalBodyDiv2Inner2Div1">
                                <i class="fa fa-sitemap phoneProfile" aria-hidden="true"></i>
                            </div>
                            <div class="profileModalBodyDiv2Inner2Div2">
                                <span style="margin-right:15%;">

                                    @if (currentUser.Section?.SectionName != null)
                                    {
                                        @currentUser.Section.SectionName
                                    }
                                    else
                                    {
                                        <span>No Section Yet</span>
                                    }

                                </span>
                            </div>

                        </div>


                    </div>
                    <div class="profileModalBodyDiv3">
                        <button class="profileEditBtn" data-bs-toggle="modal" data-bs-target="#profileModalEdit">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            Edit
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>


                                            @*EDIT PROFILE MODAL*@
<form method="post" enctype="multipart/form-data" asp-action="UpdateProfile" asp-controller="Admin">
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" id="profileModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="height:50vh;">

            <div class="modal-content profileEditModalContent" style="height: 450px;">

                <div class="modal-header profileHeader">
                    <div class="profileHeaderDiv1">
                        <i class="fa fa-times closeProfileModal" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close"></i>
                    </div>

                    <div class="profileHeaderDiv2">

                        @if (currentUser.profileString != null)
                        {
                            <img src="~/profile/@currentUser.profileString" class="userProfilePic" />
                        }
                        else
                        {
                            <img src="~/profile/default.jpg" class="userProfilePic" />
                        }

                        <label for="profileEditButton"><i class="fa fa-plus" aria-hidden="true"></i></label>
                        <input type="file" id="profileEditButton" name="image" accept=".png, .jpg, .jpeg, .jfif"/>
                    </div>

                </div>

                    <div class="modal-body profileModalBody">

                        <div class="profileModalBodyDiv1">
                            <h4 style="text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);">@currentUser.FullName</h4>
                            <h5 style="font-weight:500;">

                                @if (currentUser.position != null)
                                {
                                    @currentUser.position
                                }
                                else
                                {
                                    <span>No Position Yet</span>
                                }

                            </h5>
                        </div>
                        <div class="profileModalBodyDiv2">

                            <div class="profileModalBodyDiv2Inner1">

                                <div class="profileModalBodyDiv2Inner1Div1">
                                    <i class="fa fa-envelope emailProfile" aria-hidden="true"></i>
                                </div>

                                <div class="profileModalBodyDiv2Inner1Div2">

                                    <span style="margin-right:15%;">
                                        @if (currentUser.Email != null)
                                        {
                                            @currentUser.Email
                                        }
                                        else
                                        {
                                            <span>No Email Yet</span>
                                        }
                                    </span>

                                </div>

                            </div>

                            <div class="profileModalBodyDiv2Inner2">

                                <div class="profileModalBodyDiv2Inner2Div1">
                                    <i class="fa fa-sitemap phoneProfile" aria-hidden="true"></i>
                                </div>
                                <div class="profileModalBodyDiv2Inner2Div2">
                                    <span style="margin-right:15%;">

                                        @if (currentUser.Section?.SectionName != null)
                                        {
                                            @currentUser.Section.SectionName
                                        }
                                        else
                                        {
                                            <span>No Section Yet</span>
                                        }

                                    </span>
                                </div>

                            </div>


                        </div>
                    <div class="profileModalBodyDiv3">
                        <button class="profileEditBtn" type="submit">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Save
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>
 </form>





                     @*LOGOUT MODAL*@
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="height:50vh;">
            <div class="modal-content" style="height: 240px;">
                <div class="modal-body logoutModalBody">
                    <div class="logoutModalBody1">
                        <h3>Are you sure you want to logout?</h3>
                  </div>
                    <div class="logoutModalBody2">
                        <a class="btn btn-danger logoutYes" asp-action="Logout" asp-controller="External"> Yes</a>
                        <button type="button" class="close btn btn-success logoutNo" data-bs-dismiss="modal" aria-label="Close">
                            No
                        </button>
                  </div>
                </div>
            </div>
        </div>
    </div>

</body>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    
    <script src="~/js/adminDashboard.js"></script>

    <script src="~/js/signalr.js"></script>
    <script src="~/js/signalr.min.js"></script>

<script>
    function changeColor(button) {

        var buttons = document.querySelectorAll('.wad');
        buttons.forEach(function (btn) {
            btn.classList.remove('active');
        });

        button.classList.add('active');

    }


    const toggleBtn = document.getElementById('btn');

    toggleBtn.addEventListener('click', function () {
        document.body.classList.toggle('sidebar-collapsed');
    });
    

    const fileInput = document.getElementById('profileEditButton');

    fileInput.addEventListener('change', function () {
        const file = this.files[0];
        const allowedTypes = ['image/png', 'image/jpeg', 'image/jpg', 'image/jfif'];

        if (!allowedTypes.includes(file.type)) {
            alert('Please select a PNG or JPEG image file.');
            this.value = ''; // Clear the input field
        }
    });
</script>
</html>
